:root {
    --primary-color: rgb(123, 95, 70);
    --secondary-color: #524942;
    --accent1-color: #264653;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    width: 840px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

p {
    font-weight: bold;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 700px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p {

    margin: 16px;
    padding: 8px;
}

nav ul {
    display: flex;
    background-color: bisque;
    margin: 10px;
    padding: 15px;
    justify-content: space-around;
    gap: 50px;
    font-weight: 900;
}

.contacts-header {
    text-align: center;
    margin-bottom: 30px;
}

.contacts-header h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.contacts-header p {
    margin: 4px 0;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: start;
}

.radio-group .radio-options label {
    font-weight: normal;
    padding-top: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia {
    display: flex;
    gap: 15px;
    width: 16px;
    height: auto;
}

footer {

    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1px;
    background-color: var(--primary-color);
    color: #ffffff;
    float: right;
    margin: 1px;

}