:root {
    --primary-color: #2290879e;
    --secondary-color: #524942;
    --accent1-color: #264653;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    width: 840px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 700px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

nav ul {
    display: flex;
    background-color: bisque;
    margin: 10px;
    padding: 15px;
    justify-content: space-around;
    gap: 50px;
    font-weight: 900;
}

.history-section h2 {
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: var(--primary-color);
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: auto;
}

.history-container {
    background-color: #ffffff;
    border: 2px solid var(--primary-color);
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.history-image-box {
    background-color: transparent;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.history-container p {
    margin: 0;
    padding: 10px;
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: justify;
}

.adventure-icons {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid var(--accent2-color);
    width: 125px;
    height: auto;
}

.adventure-icons figcaption {
    font-size: 0.9rem;
    color: var(--primary-color);
    font-weight: bold;

}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 0px;
    background-color: darkslategray;
    text-decoration: underline;
    margin-right: 100px;
    color: azure;
}

.hero article img {
    float: right;
    width: 125px;

}

.socialmedia {
    display: flex;
    gap: 15px;
}

footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--primary-color);
    color: #ffffff;
    float: right;
    margin-bottom: 1px;
}